[submodule "weather-api"]
	path = weather-api
	url = https://github.com/Haringat/weather-api.git
[submodule "weather-worker-dwd-convert"]
	path = weather-worker-dwd-convert
	url = https://github.com/Haringat/weather-worker-dwd-convert.git
[submodule "weather-worker-dwd-serialize"]
	path = weather-worker-dwd-serialize
	url = https://github.com/Haringat/weather-worker-dwd-serialize.git
[submodule "weather-worker-push"]
	path = weather-worker-push
	url = https://github.com/Haringat/weather-worker-push.git
[submodule "scribe.js"]
	path = scribe.js
	url = https://github.com/Haringat/scribe.js
[submodule "async-tools"]
	path = async-tools
	url = https://github.com/Haringat/js-async-tools
